* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

body,
html,
#app {
  width: 100%;
  height: 100%;
}

.AppHome {
  width: 100%;
  height: 100%;
}

.AppHome .home {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.AppHome .home .home_main {
  width: 100%;
  height: 93%;
  overflow: hidden;
  overflow: scroll;
}

.AppHome .home .home_footer {
  width: 100%;
  height: 7%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.AppHome .home .home_footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3px;
  text-align: center;
}

.router-link-active {
  color: #dfaea8;
}
/*# sourceMappingURL=vues.css.map */