@function rem($px) {
  @return $px/37.5 * 1rem;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: black;
}
body,
html,
#app {
  width: 100%;
  height: 100%;
}
.AppHome {
  width: 100%;
  height: 100%;
  .home {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
    // font-size: 0.5rem;
    flex-direction: column;
    .home_main {
      width: 100%;
      height: 93%;
      overflow: hidden;
    }
    .home_footer {
      width: 100%;
      height: 7%;
      background-color: white;
      display: flex;
      justify-content: space-around;
      div {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 3px;
        text-align: center;
      }
    }
  }
}
.router-link-active {
  color: rgb(223, 174, 168);
}
